/**
  This is a deprecated file that is only required to maintain backwards compatibility
  until all components that have this dependency are updated.
 */

:host {
 --size-icon-square-lg: 1.5rem;
 --size-icon-square-med: 1rem;
 --size-icon-square-sml: 0.6rem;
}
